PORT=3001
SECRET=something_secret_here
ADMIN_PSW=local_admin_password_here
DATABASE_URL=postgres://mycv_user:mycv_password@localhost:5432/mycv_db
TEST_DATABASE_URL=postgres://mycv_user:mycv_password@localhost:5432/mycv_test_db